*{
    font-family: 'Roboto', sans-serif;
}
.menu {
    background-color: #e50b14;
}
li > a:hover{
    background-color: #e50b14 !important;
    color: white !important;
    font-weight: bold;
}

.logo {
    width: 175px;
}
.footer{
    background-color: #e50b14;
}
.copyright {
    background-color: black;
}
.progreso1{
    width: 95%;
}
.progreso2{
    width: 75%;
}
.progreso3{
    width: 50%;
}
.youtube{
    background-color: rgb(110, 16, 16) !important;
}
.youtube:hover{
    background-color: rgb(65, 9, 9) !important;
}
.twitter{
    background-color: rgb(0, 162, 255) !important;
}
.twitter:hover{
    background-color: rgb(2, 136, 214) !important;
}
@media all and (min-width: 992px) {
	.navbar .dropdown-menu-end{ 
        right:0; 
        left: auto;  
    }
	.navbar .nav-item .dropdown-menu{  
        display:block; 
        opacity: 0;  
        visibility: hidden; 
        transition:.3s; 
        margin-top:0;  
    }
	.navbar .nav-item:hover .nav-link{
         color: white;  
    }
	.navbar .dropdown-menu.fade-down{ 
        top:80%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%; 
    }
	.navbar .dropdown-menu.fade-up{
        top:180%;
    }
	.navbar .nav-item:hover .dropdown-menu{
        transition: .3s; 
        opacity:1; 
        visibility: visible; 
        top:100%; 
        transform: rotateX(0deg); 
    }
}	